@import "tailwindcss";

.name-shimmer {
  background: linear-gradient(
    to right,
    #ffffff 20%,
    #4ade80 40%,
    #4ade80 60%,
    #ffffff 80%
  );
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 3s linear infinite;
  display: inline-block;
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}